@import 'variables';
@import 'mixiny';
@import 'reset';

* {
    box-sizing: border-box;
}

html {
    @include fontbase;
}

body {
    font-size: $regularfont;
}

a {
    color: inherit;
    text-decoration: none;
}
    

#cover {
        @include wh();
        background-color: $background;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        }
    
    header {
    @include wh();
    background: url("../img/krowa.jpeg") center/cover no-repeat;
    color: #fff;
    line-height: 3rem;
        p, .button {
            display: none;
        }
        h1 {
        @include header();
        top: 12%;
        font-size: 2rem;;
        text-transform: uppercase;
        letter-spacing: 2.5rem;
        }
}

nav {
    overflow: hidden;
    position: static;
    top: 0; 
    left: 0;
        ul li a {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 2rem;
        margin: 0.2rem;
        font-size: 1.5rem;
        background-color: #232858;
        color: white;
        letter-spacing: 1.005rem;
            }
    }

section {
    padding: 2rem;
    margin-top: 4rem;
    text-align: justify;
    min-height: 300px;   
    h2 {
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
    }
}
    
section p {          
    line-height: 2.5rem;
    margin-bottom: 2.5rem;
    }
    
section:nth-of-type(even){
background: url('../img/moon.jpeg') center/cover no-repeat fixed;
color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.sprites {
    @include sprites();
}

.sprites_media {
    @include sprites_media();
}
div.facebook {
    background-position: 0px -43px;
}

div.twitter {
    background-position: -52px -43px;
}

div.youtube {
    background-position: -104px -43px;
}

div.in {
    background-position: -155px -43px;
    }

@media only screen and (min-width: 768px) {
    #cover {
        width: 100%;
        height: 100vh;
    }
    header {
        width: 100%;
        height: 100vh;
    p, .button {
        display: block;
        @include header();}}
    header h1 {
        top: 25%;
        font-size: 4rem;}
    header p {
        font-size: 2rem;
        top: 40%;
        line-height: 3.5rem;}
    header .button {
        display: block;
        top: 70%;
        left: 0;
        right: 0;
        width: 200px;
        margin: 0 auto;
        border: 1px solid #fff;
        border-radius: 4px;
        padding: 1.5rem;
        font-size: 1.8rem;
        box-shadow: 0 0 15px 2.5px #fff;
        transition: all 0.5s ease;
        background-image: linear-gradient(#232858, #a6abce);
        &:hover {
        box-shadow: 0 0 10px white;
        }}

nav {
    position: sticky;
    ul li a {
        display: block;
        float: left;
        width: 25%;
        margin: 0;
        border-bottom: 2px solid transparent;
        transition: all 1s ease;      
        &:hover {
            border-bottom: 2px solid #fff;
            background-color: rgba(8, 27, 64, 0.79)
        }
    }
}

.sprites_media{
    left: 75%;
}

div.facebook {
    background-position: 0px -1px;
    transition: all 0.25s linear;
}

div.facebook:hover {
    background-position: 0px -43px;
}

div.twitter {
    background-position: -52px -1px;
    transition: all 0.25s linear;
}

div.twitter:hover {
    background-position: -52px -43px;
    
}

div.youtube {
    background-position: -104px -1px;
    transition: all 0.25s linear;
}

div.youtube:hover {
    background-position: -104px -43px;
}

div.in {
    background-position: -155px -1px;
    transition: all 0.25s linear;
}

div.in:hover {
    background-position: -155px -43px;
}

}
